* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #222222;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

a,
ul {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.titulo {
  font-size: 3rem;
  line-height: 1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Superinfo */

.superinfo-bg {
  background: #122ab2;
  color: #ffffff;
}

.superinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

/* Menu */

.menu-bg {
  background: #2c70ff;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10px;
}

.menu-logo a {
  font-size: 2.25rem;
  font-weight: 600;
}

.menu ul {
  display: flex;
  gap: 20px;
  font-size: 1.25rem;
}

.menu a {
  padding: 20px 0px;
}

.menu li a:hover {
  color: #122ab2;
}

.introducao {
  padding: 60px 10px;
  line-height: 1;
  position: relative;
}

/* Sobre */

.sobre {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px 10px;
  position: relative;
  align-items: flex-start;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
}

.sobre-info {
  flex: 2 1 300px;
}
.sobre-img {
  flex: 1 1 160px;
}

.sobre h1 {
  margin-bottom: 30px;
}

.sobre p {
  color: #7c7c7c;
  font-size: 1.25rem;
  line-height: 1.4;
}

.sobre p + p {
  margin-top: 24px;
}

/* Produtos */

.produtos {
  padding: 60px 10px;
}

.produtos .titulo {
  padding-bottom: 80px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 20px;
}

.produtos-item {
  flex: 1 1 175px;
}

.produtos-item h2 {
  background: #f7f7f7;
  color: #a4a4a4;
  padding: 60px 20px;
  font-size: 3rem;
  position: relative;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

/* Preço */

.preco {
  background: #f7f7f7;
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
}

.preco-item {
  flex: 1;
  border: 4px solid #ffffff;
  padding: 40px;
}

.preco h2 {
  color: #a4a4a4;
  text-align: center;
  margin-bottom: 40px;
}

.preco span {
  display: block;
  font-weight: 600;
  text-align: center;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 15px 0;
}

.preco sup {
  font-size: 1.375rem;
}

.preco li {
  font-size: 1.25rem;
  color: #837c7c;
  margin: 16px 0;
  font-style: italic;
  position: relative;
  display: flex;
  align-items: center;
}

.preco li::after {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  background: #3878ff;
  border-radius: 50%;
  position: absolute;
  right: 0;
}

.btn {
  margin-top: 30px;
  display: block;
  text-align: center;
  border: 4px solid #222222;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 0;
  transition: 0.2s;
}

.btn:hover {
  transform: translateY(10px);
}
